body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

body{
  display: flex;
  flex-direction: column-reverse;
}

#startBTN{
  background: blue;
  color:white;
  width: 130px;
  padding: 10px 0;
}

#startBTN:hover{
  background: white;
  color:blue;
  cursor: pointer;
  
}